button.positon_butonne{
    position: absolute;
    width: 70px;
    height: 40px;
    left: 1100px;
    
}

button.position_button{
    position: absolute;
    width: 70px;
    height: 40px;
    left: 900px;
}